{% extends 'main.html' %}
{% block head %}
<title>{% block title %}Products{% endblock %}</title>
{% endblock %}
{% block content %}

<div class="container">

    {% if( flash['inventory_create']) %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss='alert' aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
        <ul>
          {% for error in  flash['inventory_create'] %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% elseif(flash['inventory_create_error']) %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
            <ul>
              {% for error in  flash['inventory_create_error'] %}
              <li>
                {{ error }}
              </li>
              {% endfor %}
            </ul>
          </div>
      {% endif %}

  <div class="row justify-content-center" style="margin-top: 20px">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Inventory</h5>
        <hr/>
        <div class="card-text">
          <form method="post" action="/inventories/inventoryAPI/createNew">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label label-for="product_id"><span style="color: #ff0000">*</span>Select Product</label>
                  <select required name="product_id" class="form-control">
                    <option disabled selected>--Choose product--</option>
                    {% for product in items.products%}
                    <option value="{{product.id}}">{{ product.product_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label label-for="shop_id"><span style="color: #ff0000">*</span>Select shop</label>
                  <select name="shop_id" class="form-control">
                    <option disabled selected>--Select shop--</option>
                    {% for shop in items.shops %}
                    <option value="{{shop.id}}">{{ shop.shop_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label label-for="quantity"><span style="color: #ff0000">*</span>Inventory quantity</label>
                  <input required type="number" class="form-control" placeholder="Enter Quntity" name="quantity"/>
                </div>
              </div>
            </div>
            <div class="form-group" align="right">
              <button type="submit" class="btn btn-success btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
