{% extends "base.html" %}
{% block head %}
<title>{% block title %} {{parent()}}{% endblock %}</title>
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
  {% if( flash['inventory_edit_error']) %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss='alert' aria-label="Close">
      <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
      <ul>
        {% for error in  flash['inventory_edit_error'] %}
        <li>
          {{ error  }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="row justify-content-center" style="margin-top: 20px">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update Inventory</h4>
            <div class="card-text">
              <hr/>
              <form method="post" action="/inventories/inventoryAPI/edit" data-toggle="validator" role="form">
                <div class="form-group">
                  <label label-for="existing_quantity"><span style="color: #ff0000">*</span>Existing Quantity</label>
                  <input type="text" value="{{inventory.quantity}}" class="form-control" placeholder="Current Quantity" id="existing_quantity" name="existing_" data-error="Please enter quantity." required disabled/>
                  <div style="color:#ff0000" class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="text" value="{{inventory.quantity}}" class="form-control" id="existing_quantity" name="existing_quantity" required hidden/>
                </div>
                <div class="form-group">
                  <label label-for="quantity"><span style="color: #ff0000">*</span>Incoming Quantity</label>
                  <input type="text" class="form-control" placeholder="Incoming quantity" id="quantity" name="quantity" required/>
                  <small id="passwordHelp" class="form-text text-muted">Cannot be blank</small>
                  <div style="color:#ff0000" class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input type="text" value="{{id}}" class="form-control" id="id" name="id" required hidden/>
                </div>
                <div class="form-group">
                    <input type="text" value="{{inventory.shop_id}}" class="form-control" id="shop_id" name="shop_id" required hidden/>
                </div>
                <div class="form-group" align="right">
                  <button type="submit" class="btn btn-success btn-sm">&rarr;Go</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}