{% extends "main.html" %}
{% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container row justify-content-center">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Inventory</h4>
        <hr/>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">manufacturer</th>
              <th scope="col">BP</th>
              <th scope="col">SP</th>
              <th scope="col">Quantity</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for inventory in inventories.inventories %}
            <tr>
              <td>{{inventory.product_name}}</td>
              <td>{{inventory.product_type}}</td>
              <td>{{inventory.product_manufacturer}}</td>
              <td>{{inventory.buying_price}}</td>
              <td>{{inventory.selling_price}}</td>
              <td>{{inventory.quantity}}</td>
              <td>
                <div >
                  <a href="/inventories/{{inventory.inventory_id}}/edit"><i class="fa fa-pencil fa-sm fa-fw"></i></a>
                  <a href=""><i class="fa fa-times fa-sm fa-fw"></i></a>
                  <a href=""><i class="fa fa-trash-o fa-sm fa-fw"></i></a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
