{% extends "base.html" %}
{% block head %}
<title>{% block title %} {{parent()}}{% endblock %}</title>
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
  {% if( flash['login_error']) %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss='alert' aria-label="Close">
      <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
      <ul>
        {% for error in  flash['login_error'] %}
        <li>
          {{ error  }}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="row justify-content-center" style="margin-top: 20px">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sign In</h4>
            <div class="card-text">
              <hr/>
              <form method="post" action="/users/login" data-toggle="validator" role="form">
                <div class="form-group">
                  <label label-for="username"><span style="color: #ff0000">*</span>Username</label>
                  <input type="text" class="form-control" placeholder="username" id="username" name="username" data-error="Please enter name field." required/>
                  <div style="color:#ff0000" class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <label label-for="password"><span style="color: #ff0000">*</span>Password</label>
                  <input type="password" class="form-control" placeholder="password" id="password" name="password" min="5" required/>
                  <small id="passwordHelp" class="form-text text-muted">Not less than 5 characters</small>
                  <div style="color:#ff0000" class="help-block with-errors"></div>
                </div>
                <div class="form-group" align="right">
                  <button type="submit" class="btn btn-success btn-sm">&rarr;Go</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
