{% extends "main.html" %} {% block head %}
<title>{% block title %} {{parent()}}{% endblock %}</title>
{{ parent() }} {% endblock %} {% block content %}
<div class="container">
  {% if(flash['user_register']) %} {% if(flash['user_register'][0].success == 0) %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss='alert' aria-label="Close">
      <span aria-hidden="true">
        <i class="fa fa-times fa-sm"></i>
      </span>
    </button>
    <ul>
      {% for error in flash['user_register'] %}
      <li>
        {{ error.message }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss='alert' aria-label="Close">
      <span aria-hidden="true">
        <i class="fa fa-times fa-sm"></i>
      </span>
    </button>
    <ul>
      {% for error in flash['user_register'] %}
      <li>
        {{ error.message }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create New Staff</h5>
          <hr/>
          <div class="card-text">
            <form method="post" action="/users/register">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="first_name">
                      <span style="color: #ff0000">*</span>First name</label>
                    <input type="text" class="form-control" placeholder="First name" name="first_name" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="last_name">
                      <span style="color: #ff0000">*</span>Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" name="last_name" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="phone_number">
                      <span style="color: #ff0000">*</span>Phone number</label>
                    <input type="text" class="form-control" placeholder="Phone number" name="phone_number" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="id_number">
                      <span style="color: #ff0000">*</span>National Id</label>
                    <input type="text" class="form-control" placeholder="National ID number" name="national_id" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="email_address">
                      <span style="color: #ff0000">*</span>Email address</label>
                    <input type="text" class="form-control" placeholder="Email address" name="email_address" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label label-for="id_number">
                      <span style="color: #ff0000">*</span>Select shop</label>
                    <select name="shop_id" class="form-control">
                      <option disabled selected>Select shop</option>
                      {% for shop in shops %}
                      <option value="{{shop.id}}">{{ shop.shop_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" align="right">
                <button type="submit" class="btn btn-success btn-sm">&rarr;Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}