{% extends "main.html" %}
{% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-left">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Our staff</h4>
          <hr/>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% for user in staff %}
              <tr>
                <td>{{user.staff_name}}</td>
                <td>{{user.phone_number}}</td>
                <td>{{user.email_address}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
