{% extends "main.html" %} {% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:darkgreen">CREATE NEW SHOP</h5>
                    <hr/>
                    <div class="card-text">
                        <form method="post" action="/shops/shopsAPI/create">
                            <div class="form-group">
                                <label label-for="shop_name">
                                    <span style="color: #ff0000">*</span>Name of Shop</label>
                                <input type="text" class="form-control" placeholder="Shop name" id="shop_name" name="shop_name" data-error="Please enter shop name."
                                    required/>
                                <div style="color:#ff0000" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label label-for="shop_location">
                                    <span style="color: #ff0000">*</span>Location</label>
                                <input type="text" class="form-control" placeholder="Location" id="shop_location" name="shop_location" required/>
                                <div style="color:#ff0000" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label label-for="town">
                                    <span style="color: #ff0000">*</span>Town</label>
                                <input type="text" class="form-control" placeholder="Town" id="town" name="town" required/>
                                <div style="color:#ff0000" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label label-for="postal_address">
                                    <span style="color: #ff0000">*</span>Postal Address</label>
                                <input type="text" class="form-control" placeholder="Postal Address" id="postal_address" name="postal_address" required/>
                                <div style="color:#ff0000" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label label-for="email_address">
                                    <span style="color: #ff0000">*</span>Email</label>
                                <input type="text" class="form-control" placeholder="Email address" id="email_address" name="email_address" required/>
                                <div style="color:#ff0000" class="help-block with-errors"></div>
                            </div>
                            <!-- <div class="form-group" align="right">
                                <button type="submit" class="btn btn-success btn-sm">&rarr;Go</button>
                            </div> -->
                            <div class="form-group" align="right">
                                <button type="submit" class="btn btn-success btn-sm">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}