{% extends "main.html" %} {% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %} 
{% block content %}
<div class="container">
    <div class="row justify-content-left">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                        <a href="/shops/addShop" class="pull-right btn btn-primary btn-sm">Add shop</a>
                    <h4 class="card-title">Our Shops</h4>
                    <hr/>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Town</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for shop in shops.shops %}
                            <tr>
                                <td><a href="/shops/{{shop.id}}" style="text-decoration:none; color:green">{{shop.shop_name}}</a></td>
                                <td>{{shop.location}}</td>
                                <td>{{shop.town}}</td>
                                <td>{{shop.email_address}}</td>
                                <td>
                                    <div>
                                        <a href="">
                                            <i class="fa fa-pencil fa-sm fa-fw"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-times fa-sm fa-fw"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-trash-o fa-sm fa-fw"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}