{% extends "main.html" %} {% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div align="center" class="card-body">
                    <b>Total Inventory Value</b>
                    <h2>{{inventoryValue}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div align="center" class="card-body">
                    <b>No. of staff</b>
                    <h3>??</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div align="center" class="card-body">
                    <b>Average monthly sales</b>
                    <h3>??</h3>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-end">
        <div class="col-sm-3">
            <select name="shop_id" onchange="window.location='/shops/'+this.value" class="form-control">
                <option>Select shop</option>
                {% for shop in shops.shops %}
                <option value="{{shop.id}}">{{shop.shop_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if shopInfo.shop %}
                    <h4>{{shopInfo.shop.shop_name}}</h4>
                    <p>Email: {{shopInfo.shop.email_address}}</p>
                    <address>P.O. Box {{shopInfo.shop.postal_address}}</address>
                    <p>{{shopInfo.shop.town}}</p>
                    {% else %}
                    <p>{{'No shop found'}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventory</h5>
                    {% if inventory.inventories %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">manufacturer</th>
                                <th scope="col">BP</th>
                                <th scope="col">SP</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inventory in inventory.inventories %}
                            <tr>
                                <td>{{inventory.product_name}}</td>
                                <td>{{inventory.product_type}}</td>
                                <td>{{inventory.product_manufacturer}}</td>
                                <td>{{inventory.buying_price}}</td>
                                <td>{{inventory.selling_price}}</td>
                                <td>{{inventory.quantity}}</td>
                                <td>
                                    <div>
                                        <a href="/inventories/{{inventory.inventory_id}}/edit">
                                            <i class="fa fa-pencil fa-sm fa-fw"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa fa-times fa-sm fa-fw"></i>
                                        </a>
                                        <a onclick="saveItem('{{inventory.inventory_id}}', '{{inventory.shop_id}}')" href="inventories/{{inventory.inventory_id}}/delete"
                                            data-toggle="modal" data-target="#confirm-delete" data-shopId="{{inventory.shop_id}}"
                                            data-id="{{inventory.inventory_id}}">
                                            <i class="fa fa-trash-o fa-sm fa-fw"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {%else%}
                    <p>No inventories for selected shop</p>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sales</h5>
                    {% if sales %}
                    <div id="accordion">
                        {% for sale in sales %}
                        <div class="card">
                            <div class="card-header" id="heading{{sale.id}}">
                                <div class="row justify-content-left">
                                    <div class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{sale.id}}" aria-expanded="true" aria-controls="{{sale.id}}">
                                        <i class="fa fa-plus-circle fa-lg"></i>
                                    </div>
                                    <div class="col-sm-3 justify-content-center" style="padding-top: 10px">
                                        <p>Amount: Ksh.{{sale.sale_amount}}</p>
                                    </div>
                                    <div class="col-sm-3 justify-content-center" style="padding-top: 10px">
                                        <p>Date sold: {{sale.created_at}}</p>
                                    </div>
                                    <div class="col-sm-3 justify-content-center" style="padding-top: 10px">
                                        <p>Sold by: {{sale.staff}}</p>
                                    </div>
                                </div>
                            </div>

                            <div id="{{sale.id}}" class="collapse" aria-labelledby="heading{{sale.id}}" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <th>Product name</th>
                                            <th>Quantity</th>
                                            <th>Selling price</th>
                                            <th>Amount</th>
                                        </thead>
                                        <tbody>
                                            {% for item in sale.sale_items %}
                                            <tr>
                                                <td>{{item.product_name}}</td>
                                                <td>{{item.quantity}}</td>
                                                <td>{{item.selling_price}}</td>
                                                <td>{{item.item_amount}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No sales found</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>


    <!-- confirm dialog -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Delete
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this product from inventory?
                </div>

                <form action="/inventories/inventoryAPI/delete" method="post" name="form-delete-inventory">
                    <div class="modal-footer" hidden>
                        <input type="text" name="id" id="invId" hidden/>
                    </div>
                    <div class="modal-footer" hidden>
                        <input type="text" name="shop_id" id="shpId" hidden/>
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <button type="submit" id="submit" class="btn btn-success success">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var saveItem = function (inventoryId, shopId) {
            $("#shpId").val("" + shopId);
            $("#invId").val("" + inventoryId);
        }
    </script> {% endblock %}