{% extends "main.html" %}
{% block head %}
<title>{% block title %} Our Staff{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-left">
    <div class="col-sm-10">
        {{name}}
    </div>
  </div>
</div>
{% endblock %}