{% extends "base.html" %}
{% block head %}
<title>{% block title %} petwana ent.{% endblock %}</title>
{% endblock %}
{% block content %}

<div class="row justify-content-center" style="margin-top: 20px">
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid center" style="background-color: #fff">
      <div class="container">
        <h1>Welcome to Petwana enterprises</h1>
        <p>
          We give you solutions to animal and farm products health and growth.
        </p>
        <div>
              <a href="/users/userlogin" class="btn btn-lg btn-primary pull-right">Login to admin Portal</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
