{% extends 'main.html' %}
{% block head %}
<title>{% block title %}Products{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="container">
    {% if( flash['product_create']) %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss='alert' aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
        <ul>
          {% for error in  flash['product_create'] %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% elseif(flash['product_create_error']) %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times fa-sm"></i></span></button>
            <ul>
              {% for error in  flash['product_create_error'] %}
              <li>
                {{ error }}
              </li>
              {% endfor %}
            </ul>
          </div>
      {% endif %}
  <div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create Product</h5><hr/>
        <div class="card-text">
          <form method="post" action="/products/productAPI/create">
            <!--row 1-->
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label label-for="product_name"><span style="color: #ff0000">*</span>Product name</label>
                  <input required type="text" class="form-control" placeholder="Name of product" name="product_name"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label label-for="product_type"><span style="color: #ff0000">*</span>Product type</label>
                  <input required type="text" class="form-control" placeholder="Type of product" name="product_type"/>
                </div>
              </div>
            </div>
            <!--row 2-->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label label-for="product_category"><span style="color: #ff0000">*</span>Category</label>
                  <input required type="text" class="form-control" placeholder="Product Category" name="product_category"/>
                </div>
              </div>
            </div>
            <!--row 3-->
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label label-for="product_supplier">Product supplier (Optional)</label>
                  <input type="text" class="form-control" placeholder="Product supplier" name="product_supplier"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label label-for="product_manufacturer"><span style="color: #ff0000">*</span>Manufacturer</label>
                  <input required type="text" class="form-control" placeholder="Manufacturer" name="product_manufacturer"/>
                </div>
              </div>
            </div>
            <!--row 4-->
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label label-for="buying_price"><span style="color: #ff0000">*</span>Buying price</label>
                  <input required type="number" class="form-control" placeholder="Buying price" name="buying_price"/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label label-for="selling_price"><span style="color: #ff0000">*</span>Retail price</label>
                  <input required type="number" class="form-control" placeholder="Retail price" name="selling_price"/>
                </div>
              </div>
            </div>
            <!--button-->
            <div class="form-group" align="right">
              <button type="submit" class="btn btn-success btn-md">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
