<!-- <footer class="footer body" style="background-color:#fff"> -->
    <div id="footer" class="footer body" align="center" style="background-color: #999000; width:100%">
        <br/> {% block footer %} &copy; Copyright 2018 by
        <a href="/">zeffah</a>
        {% endblock %}
    </div>
<!-- </footer> -->
