<div class="nav-side-menu">
    <div class="brand" style="height: 70px">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/dashboard">
                    <i class="fa fa-dashboard fa-lg fa-fw sidebar-icon"></i> Dashboard</a>
            </li>
            <li>
                <a href="/shops/">
                    <i class="fa fa-calendar fa-lg fa-fw sidebar-icon"></i> Shops</a>
            </li>
            <!-- products -->
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="#">
                    <i class="fa fa-bar-chart fa-lg fa-fw sidebar-icon"></i> Products
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li>
                    <a href="/products/">
                        <i class="fa fa-angle-double-right"></i>Our Products</a>
                </li>
                <li>
                    <a href="/products/createNew">
                        <i class="fa fa-angle-double-right"></i>Create Product</a>
                </li>
            </ul>
            <!-- products end -->
            <!-- inventory starts -->
            <li data-toggle="collapse" data-target="#inventory" class="collapsed">
                <a href="#">
                    <i class="fa fa-bar-chart fa-sm fa-fw sidebar-icon"></i> Inventory
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="inventory">
                <li>
                    <a href="/inventories/add">
                        <i class="fa fa-angle-double-right"></i>Create Invenory</a>
                </li>
                <li>
                    <a href="/products/createNew">
                        <i class="fa fa-angle-double-right"></i>Create Product</a>
                </li>
            </ul>
            <!-- inventory ends  -->
            <!-- staff starts here -->
            <li data-toggle="collapse" data-target="#staff" class="collapsed">
                <a href="#">
                    <i class="fa fa-puzzle-piece fa-lg fa-fw sidebar-icon"></i> Staff
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="staff">
                <li>
                    <a href="/users/">
                        <i class="fa fa-angle-double-right"></i>Our team</a>
                </li>
                <li>
                    <a href="/users/user-register">
                        <i class="fa fa-angle-double-right"></i> Register staff</a>
                </li>
            </ul>
            <!-- staff ends here -->
            <li data-toggle="collapse" data-target="#settings" class="collapsed">
                <a href="#">
                    <i class="fa fa-sliders fa-lg fa-fw sidebar-icon"></i> Settings
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="settings">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> General</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Security</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Notifications</a>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#maintenance" class="collapsed">
                <a href="#">
                    <i class="fa fa-cogs fa-lg fa-fw sidebar-icon"></i> Maintenance
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="maintenance">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Operation Logs</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Events and Alarms</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Backup and Restore</a>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#tools" class="collapsed">
                <a href="#">
                    <i class="fa fa-wrench fa-lg fa-fw sidebar-icon"></i> Tools
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="tools">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Manual SMS</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Import</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Export</a>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#help" class="collapsed">
                <a href="#">
                    <i class="fa fa-life-ring fa-lg fa-fw sidebar-icon"></i> Help
                    <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="help">
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Documentation</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-angle-double-right"></i> Customer Support
                        <small>
                            <i class="fa fa-external-link"></i>
                        </small>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</div>